<div id="log"><h2>Log in</h2></div>

<div class="lform"></div>

<%= form_tag("/login", method: "post") do %>
  <%= label_tag(:email) %>
  <%= text_field_tag(:email) %>
  <%= label_tag(:password) %>
  <%= text_field_tag(:password) %>
  <%= submit_tag("Login") %>
<% end %>
</div>
​

<div id="sign"><h2>Sign up</h2></div>

<div class="sform">

<p><%= form_for User.new do |f| %></p>

  <%= f.label :fname, "First name" %><br>
  <%= f.text_field :fname %><br>

  <%= f.label :lname, "Last name" %><br>
  <%= f.text_field :lname %><br>

  <%= f.label :email, "email" %><br>
  <%= f.text_field :email %><br>

  <%= f.label :username, "username" %><br>
  <%= f.text_field :username %><br>

  <%= f.label :password, "Password" %><br>
  <%= f.text_field :password %><br>

  <%= f.submit %><br>

<% end %>
</div>